In [910]:
import pandas as pd
import datetime
import numpy as np
import random
import copy

In [909]:
import json

In [872]:
# функция для отслеживания связей
def dfs(v):
    global tmp
    try:
        for w in BN[v]:
            if (w >= 5000) and (w not in tmp):
                tmp.append(w)
            dfs(w)
    except: return

In [549]:
#начало работы над функцией оптимизации
def opt(v):
    global suma, changed, alar, cost_new, cost
    start = alar[v]['date_st']
    cost_new += alar[v]['cost_min']
    suma = alar[v]['min_dt']
    current = alar[v]['date_st'] + timedelta(days = suma)
    try:
        for w in N[v]:
            print(current)
            print(alar[w]['date_st'])
            if current <= alar[w]['date_st']:
                print('yes')
                cost_new -= (alar[w]['date_st'] - test[w]['date_st']).days * alar[w]['dt_a']
                if cost_new < cost:
                    changed[w]['date_st'] = current
                else:
                    cost_new = cost
            opt(w)
    except: 
        return

In [671]:
cost_new = cost
suma = 0
opt(345)

2000-10-26
2000-10-30
yes

In [619]:
import copy
test2 = copy.deepcopy(test)

In [911]:
#загрузка файла для обработки
bdf = pd.read_csv('big_df.csv')
bdf['date_st'] = bdf['date_st']
bdf.head()

,Unnamed: 0,id,name,func,date_st,n_fact,process,dt_b,dt_a,n_plan,...,v_plan,v_fact,v_rest,min_dt,cost_min,all_values,d1,d2,d3,d4
0,0,0,Sergo,Малозначимый,2020-02-23,3,0.051724,967230,1977002,58,...,9239,9,0.999026,23,6509,16710237,-3,4,-3,2
1,1,1,Miha,Низкий,2020-11-18,5,0.044643,1257975,1819563,112,...,1375,3,0.997818,6,1235,6057113,-2,4,-1,1
2,2,2,Den,Средний,2020-08-01,9,1.000000,1597704,361477,9,...,6942,8,0.998848,7,4363,14232270,-1,2,-1,1
3,3,3,Saha,Высокий,2020-10-25,12,0.131868,1271727,845979,91,...,4746,8,0.998314,41,4669,14851192,-1,1,-1,2
4,4,4,Slava,Малозначимый,2020-10-11,9,0.065693,1669104,710257,137,...,4378,1,0.999772,1,2241,9630033,-2,3,-1,4

In [912]:
bdf = bdf.sort_values(by='date_st')

In [811]:
bdf.tail()

,Unnamed: 0,id,name,func,date_st,n_fact,process,dt_b,dt_a,n_plan,...,v_plan,v_fact,v_rest,min_dt,cost_min,all_values,d1,d2,d3,d4
3492,3492,3492,Sergo,Малозначимый,2020-12-28,3,0.375000,1193479,632316,8,...,6795,6,0.999117,4,4863,14687558,-2,2,-1,2
3875,3875,3875,Dream,Высокий,2020-12-28,8,0.073394,886881,1553988,109,...,1986,7,0.996475,19,7550,17323309,-2,2,-2,3
1940,1940,1940,Dream,Малозначимый,2020-12-28,10,0.086207,799882,133681,116,...,5295,2,0.999622,30,7711,4212918,-3,3,-2,2
4284,4284,4284,Sergo,Малозначимый,2020-12-28,3,0.042254,92679,446006,71,...,7089,10,0.998589,46,4536,11773671,-3,3,-3,1
2374,2374,2374,Winner,Средний,2020-12-28,12,0.085714,550539,1855771,140,...,6667,5,0.999250,5,8941,7760432,-2,4,-1,2

In [726]:
#разбиение  на части для утсановления связей
bdf_1 = bdf[:1500].copy()
bdf_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 756 to 2134
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1500 non-null   int64
 1   id          1500 non-null   int64
 2   name        1500 non-null   object
 3   func        1500 non-null   object
 4   date_st     1500 non-null   datetime64[ns]
 5   n_fact      1500 non-null   int64
 6   process     1500 non-null   float64
 7   dt_b        1500 non-null   int64
 8   dt_a        1500 non-null   int64
 9   n_plan      1500 non-null   int64
 10  rest_dt     1500 non-null   float64
 11  v_plan      1500 non-null   int64
 12  v_fact      1500 non-null   int64
 13  v_rest      1500 non-null   float64
 14  min_dt      1500 non-null   int64
 15  cost_min    1500 non-null   int64
 16  all_values  1500 non-null   int64
 17  d1          1500 non-null   int64
 18  d2          1500 non-null   int64
 19  d3          1500 non-null   int64
 20  d4          1500 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(15), object(2)
memory usage: 257.8+ KB

In [727]:
bdf_2 = bdf[1500:3000].copy()
bdf_3 = bdf[3000:5000].copy()

In [775]:
bs1 = np.random.choice(list(bdf_1['id']), replace = False, size = 1500).tolist() + \
        np.random.choice(list(bdf_1['id']), size = 1500).tolist()

In [776]:
bs2 = np.random.choice(list(bdf_2['id']), size = 1500).tolist() + \
        np.random.choice(list(bdf_2['id']), replace = False, size = 1500).tolist()

In [825]:
index = [i + 5000 for i in range(10)]
columns = ['id', 'name', 'func', 'date_st', 'dt_b', 'dt_a', 'n_plan', 'min_dt', 'cost_min']
n = ['Sergo', 'Miha', 'Den', 'Saha', 'Slava', 'Dream', 'Team', 'Winner', 'Weare']
name = [n[i%len(n)] for i in range(10)]
f = ['Малозначимый', 'Низкий', 'Средний', 'Высокий']
func = [f[i%len(f)] for i in range(10)] # 3

date_st = [datetime.date(random.randint (2020, 2021),random.randint(7, 12), random.randint(1, 28)) for i in range(10)] # 4
dt_b = [random.randint(30000, 2000000) for i in range(10)] # 6
dt_a = [random.randint(30000000, 2000000000) for i in range(10)]# 7
n_plan = [0 for i in range(10)]# 8
min_dt = [0 for i in range(10)]
cost_min = [-1 for i in range(10)]


input = {'id':pd.Series(index), 'name':pd.Series(name), 'func':pd.Series(func),
         'date_st':pd.Series(date_st), 'dt_b':pd.Series(dt_b), 'dt_a':pd.Series(dt_a),
         'n_plan':pd.Series(n_plan), 'min_dt':pd.Series(min_dt), 'cost_min':pd.Series(cost_min)}

bveh = pd.DataFrame(input)

In [826]:
bveh

,id,name,func,date_st,dt_b,dt_a,n_plan,min_dt,cost_min
0,5000,Sergo,Малозначимый,2021-11-26,1676810,1437658961,0,0,-1
1,5001,Miha,Низкий,2021-08-12,771095,594539199,0,0,-1
2,5002,Den,Средний,2021-07-08,1356796,372837643,0,0,-1
3,5003,Saha,Высокий,2021-10-08,680418,1050069043,0,0,-1
4,5004,Slava,Малозначимый,2021-09-02,131959,74529490,0,0,-1
5,5005,Dream,Низкий,2020-09-03,1044700,1439523779,0,0,-1
6,5006,Team,Средний,2021-09-28,1119676,1549044579,0,0,-1
7,5007,Winner,Высокий,2020-12-03,334600,1888737780,0,0,-1
8,5008,Weare,Малозначимый,2020-10-20,74381,138685387,0,0,-1
9,5009,Sergo,Низкий,2020-12-28,594167,165012224,0,0,-1

In [827]:
#связи 2ой волны с 3ей
bs3 = []
for i in bs2:
    tmp = bdf_2[bdf_2['id'] == i]['date_st'] + timedelta(days = int(bdf_2[bdf_2['id'] == i]['n_plan']))
    try:
        bs3.append(np.random.choice(list(bdf_3[bdf_3['date_st']>= list(tmp)[0]]['id']), size = 1)[0])
    except:
        bs3.append(np.random.choice(list(bveh[bveh['date_st']>= list(tmp)[0]]['id']), size = 1)[0])

In [828]:
#выбор вех к работам 3ей волны
bsveh = []
bs4 = list(bdf_3['id'])
for i in bs4:
    tmp = bdf_3[bdf_3['id'] == i]['date_st'] + timedelta(days = int(bdf_3[bdf_3['id'] == i]['n_plan']))
    try:
        bsveh.append(np.random.choice(list(bveh[bveh['date_st']>= list(tmp)[0]]['id']), size = 1)[0])
    except:
        pass

In [829]:
#связи 1ой волны со 2ой
bs1_2 = []
for i in bs1:
    tmp = bdf_1[bdf_1['id'] == i]['date_st'] + timedelta(days = int(bdf_1[bdf_1['id'] == i]['n_plan']))
    try:
        bs1_2.append(np.random.choice(list(bdf_2[bdf_2['date_st']>= list(tmp)[0]]['id']), size = 1)[0])
    except:
        bs1_2.append(np.random.choice(list(bveh[bveh['date_st']>= list(tmp)[0]]['id']), size = 1)[0])

In [830]:
#составление словаря связей
BN = dict()
i = 0
while i < len(bs1):
    try:
        BN[bs1[i]].add(bs1_2[i])
    except:
        BN.update({bs1[i] : set()})
        BN[bs1[i]].add(bs1_2[i])
    i += 1
i = 0
while i < len(bs2):
    try:
        BN[bs2[i]].add(bs3[i])
    except:
        BN.update({bs2[i] : set()})
        BN[bs2[i]].add(bs3[i])
    i += 1
i = 0
while i < len(bs4):
    try:
        BN[bs4[i]].add(bsveh[i])
    except:
        BN.update({bs4[i] : set()})
        BN[bs4[i]].add(bsveh[i])
    i += 1

In [938]:
bdict = bdf.to_dict('index')
bvict = bveh.to_dict('index')
for i in bvict:
    bdict[bvict[i]['id']] = bvict[i]

In [832]:
dfs(1003)

1294
3597
5002

In [837]:
# функция анализа критичных ситуаций(в работе)
def dfsuma(v):
    global suma, stn, changed, alar, cost
    start = bdict[stn]['date_st']
    current = bdict[stn]['date_st'] + timedelta(days = suma)
    try:
        for w in BN[v]:
            if current > bdict[w]['date_st']:
                suma += bdict[w]['n_plan']
                cost += (current - test[w]['date_st']).days * test[w]['dt_a']
                if w not in changed:
                    changed[w] = copy.deepcopy(test[w])
                if current > changed[w]['date_st']:
                    changed[w]['date_st'] = current
            else:
                suma = bdict[w]['n_plan']
            dfsuma(w)
    except: 
        if current > bdict[w]['date_st']:
            print("Alarm")
            alar = copy.deepcopy(changed)
        else:
            print("Clear")
        suma = bdict[stn]['n_plan']
        return

In [927]:
stn = 404
changed = {}
alar = {}
cost = 0
suma = bdict[stn]['n_plan']
dfsuma(stn)

Clear
Clear

In [873]:
#добавление информации о вехах к датасету
for i in bdict:
    tmp = []
    dfs(i)
    bdict[i]['veha'] = tmp

In [863]:
bdict2 = copy.deepcopy(bdict)

In [864]:
for i in bdict2:
    bdict2[i]['date_st'] = str(bdict2[i]['date_st'])

In [913]:
bdf['veha'] = bdf['id'].apply(lambda x : bdict[x]['veha']).astype('str')
bdf.head()

,Unnamed: 0,id,name,func,date_st,n_fact,process,dt_b,dt_a,n_plan,...,v_fact,v_rest,min_dt,cost_min,all_values,d1,d2,d3,d4,veha
756,756,756,Sergo,Малозначимый,2020-01-01,2,0.016000,715259,1594420,125,...,14,0.951557,45,7085,3684282,-2,3,-4,2,"[5004, 5003, 5000]"
261,261,261,Sergo,Низкий,2020-01-01,6,0.047244,458630,401175,127,...,2,0.993994,1,7180,9763049,-1,1,-1,4,"[5004, 5003]"
2361,2361,2361,Saha,Низкий,2020-01-01,9,1.800000,40165,903891,5,...,10,0.998400,39,8546,16093941,-1,1,-2,1,"[5003, 5001]"
2126,2126,2126,Den,Средний,2020-01-01,1,0.027027,795539,1539169,37,...,7,0.998609,32,2805,3317180,-3,1,-1,2,"[5002, 5001, 5000]"
3847,3847,3847,Slava,Высокий,2020-01-01,2,0.025000,501650,1647451,80,...,6,0.999060,44,1191,7464955,-4,2,-2,4,"[5003, 5008, 5006]"

In [931]:
bdf['date_st'] = pd.to_datetime(bdf['date_st'])

In [932]:
bveh['date_st'] = pd.to_datetime(bveh['date_st'])

In [920]:
with open('big_file.json', 'w', encoding = 'utf-8') as outfile:
    json.dump(bdf.to_dict('index'), outfile, ensure_ascii=False)

In [925]:
with open('vehi.json', 'w', encoding='utf-8') as outfile:
    json.dump(bveh.to_dict('index'), outfile, ensure_ascii=False)